body{
    margin: 0;
    padding: 0;
}

.page-layout{
    float:left;
    width: 100%;
}

.top-widget{
    width: 75%;
    left: 25%;
    height: 100px;
    position: fixed;
    background-color: #636363;
    z-index: 1;
}

.left-widget{
    width: 25%;
    height: 100%;
    position: fixed;
    border-right: 2px solid #994004;
    overflow: auto;
    background-color: #555;
}

.right-widget{
    margin-left:27%;
    margin-top:100px;
    width: 73%;
    position: inherit;
}

.table-buton{
    float:left;
    width: 150px;
    height: 117px;
    background-color: #f46558;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;

}

.table-buton-name{
    float:left;
    height: 100%;
    width: 65%;
    line-height: 3.5em;
    cursor: pointer;
    color:white;
    text-align: center;
    font-size: 32px;
}

.table-buton-name:hover{
    background-color: #669636;
}

.table-buton-name-opened{
    float:left;
    height: 100%;
    width: 65%;
    line-height: 4em;
    cursor: pointer;
    color:white;
    text-align: center;
    font-size: 32px;
    background-color: #669636;
}

.table-buton-name-opened:hover{
    background-color: #f46558;
}

.table-buton-right{
    float:left;
    border-bottom-right-radius: 6px;
    border-top-right-radius:  6px;
    height: 100%;
    width: 35%;
    background-color: #636363;
}

.buton-img{
    float:left;
    width: 90%;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    cursor: pointer;
    border:1px solid #636363;
    transition: box-shadow 0.5s;
}

.buton-img:hover{
    box-shadow: 1px 2px 6px 1px #e8b847;
}

.table-buton a{
    text-decoration:none;
    color:#CCCCCC;
}

.table-buton:hover,.table-buton:focus
{
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

@keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

.table-buton:active
{
    color: #fff;
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    animation: none;
}
.scrollTop{
    position: fixed;
    top: 90%;
    left: 90%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.scrollTop:hover{
    box-shadow: 1px 4px 8px 1px #555;
}
