.input-text{
    width:250px;
    margin-left:20px;
    margin-right: 20px;
}
.comments{
    margin-left: 10px;
    margin-right: 10px;
}
.cattList{
    width: 720px;
}
.productUpdate{
    width: 250px;
}
