*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: #cdddec;
}
.loginForm{
    float:left;
    width: 50%;
    min-height: 360px;
    margin-top: 150px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 1px 5px 10px 1px #59819f;
    background-color: white; 
}

.commandBtn{
    width: 150px;
    margin-left: 55%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logintext{
    width: 100%;
}
.forty-percent {
    width: 20%;
}
.rightcolumn{
    width: 55%;
}
.width350{
    min-width:270px;
}
.plus{
    min-width:280px;
}
.login-image
{
    float:left;
    margin-left: 8%;
}
.logpanel{
    float:left;
    width: 100%;
    margin-top: 15px;
}
.separator{
    float:left;
    margin-top: 10px;
    width: 82%;
    margin-left: 9%;
    margin-right:9%
}
.login-header{
    float:left;
    font-size:30px;
    color: #59819f;
    margin-left: 25px;
    margin-top: 40px;

}    
.loggrid{
    float:left;
    margin-left: 10%;
}
